<%= simple_form_for @form, url: admin_properties_path, method: :get do |form| %>
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <%= form.input :bedroom_count_min %>

        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <%= form.input :bathroom_count_min %>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <%= form.input :size_min %>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <%= form.input :price_min %>
        </div>
      </div>
      <%= form.input :property_type_ids, collection: form.object.property_type_collection, as: :check_boxes, multiple: true, include_blank: false, value: form.object.property_type_ids %>
    </div>
    <div class="card-footer">
      <%= form.button :button, "Consultar" %>
    </div>
  </div>
<% end %>
