<!DOCTYPE html>
<html>
  <head>
    <title>Gerenciar Imóveis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

<body>
    <div class="page">
      <%= render "layouts/admin/header" %>
      <%#= render "layouts/admin/navbar" %>
      <div class="page-wrapper">
        <div class="page-body">
          <%#= yield %>
        </div>
      </div>
      <%#= render "layouts/admin/footer" %>
    </div>

    <%= render "layouts/flash" %>
  </!--body>
</html>
